<ion-modal view title="Account">
  <div class="modal account-page">
   <ion-header-bar class="actu_header">
     <i class="ion-chevron-down icon_modal" ng-click="closeModal()"></i>
   <h1 class="title">Mon compte </h1>
  </ion-header-bar>


    <ion-content class="has-header">
  <h1 class="myname">{{user.username}}</h1>
  <ion-item  ng-click="logout()"> Deconnexion </ion-item>
  <ion-toggle ng-model="is_notif" ng-change="chgmtFreq('notif', is_notif )">
    Activer les notifications
  </ion-toggle>

  <div ng-show="is_notif">
  <div class="item item-divider"> 
          Frequence des Notifications
  </div>
        
        <ion-radio ng-repeat="item in clientSideList"
                   ng-value="item.value"
                   ng-model="data.clientSide"
                   ng-click="chgmtFreq('freq', item.value)">
          {{ item.text }}
        </ion-radio>

  </div>
  </ion-content>
  </div>
</ion-modal view>