<ion-modal view title="Description" class="description-page">
  <div class="modal">
   <ion-header-bar class="actu_header">
     <i class="ion-chevron-down icon_modal" ng-click="closeModal2()"></i>
   <h1 class="title">{{toDisplay.titre}} sur {{toDisplay.chaine}}</h1>
  </ion-header-bar>

<ion-content class="descrip-page">
<br>
<p> <img ng-src="{{toDisplay.chaineImg}}" class="chaine-thumbnail"><a class="sous-titre">{{toDisplay.sousTitre}}</a>
<p> <a class="lobster">Durée</a> : {{toDisplay.duree}}
<p> <a class="lobster">Description</a> : {{toDisplay.description}}
<p> <a class="lobster">Casting</a> : {{toDisplay.casting}}
<img ng-src="{{toDisplay.programmeImg}}" class="programme-image">
</ion-content>
</div>
</ion-modal view>
