<ion-view view-title="Your Recommendations" class="recom-page">
  <ion-content>

  <i class ="settingsicon ion-settings" ng-click="openModal()"></i>
    <h1 class="title"> Vos recommendations </h1>
  <i class ="plusicon ion-plus-round" ng-click="openModal1()"></i>
    
    <ion-list>
      <ion-item ng-repeat="recommendation in recommendationss" >
      <img ng-src="{{recommendation.logo}}"
       <b> {{recommendaton.title}} </b> - {{recommendation.chaine}}
       <p> {{recommendation.description}}
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>