<ion-modal view title="Search">
  <div class="modal">
   <ion-header-bar class="actu_header">
     <i class="ion-chevron-down icon_modal" ng-click="closeModal1()"></i>
   <h1 class="title">Recherche de mots-clés </h1>
  </ion-header-bar>

<ion-content class="background-green">
<div class="keyword-container">
<div class="list list-inset keyword-input">
	<label class="item item-input">
		<i class="icon ion-search placeholder-icon"></i>
		<input type="text" placeholder="Chercher un mot clé">
	</label>
</div>
<div ng-click="addElem(keyword)" on-touch="swing($event)" class="keyword-element" ng-repeat = "keyword in keywords">
	<p> {{keyword}} </p>
</div>
</div>
</ion-content>
</div>
</ion-modal view>
