.actu_header{
   background-color: black;
}
.grey-item{
  background-color: #45658f;
}
.account-page .grey-item,.account-page .item-radio{
    background-color: transparent;
    color: white;
}
.signin-page .homepage_logo{
  width: 80px;
}
@font-face {
    font-family: Fredoka;
    src: url('../fonts/FredokaOne-Regular.ttf');
}
.homepage_title{
  text-align: center;
}
.homepage_logo{
  width: 40px;

  margin: 0 auto;
  display: block;
  margin-bottom: 20px;
}
.signin-page .homepage_button{
  
  margin: 0 auto;
  display:block;
  text-align:center;
  color: #e7ec53;
  font-family: 'Montserrat', sans-serif;
  font-weight:bold;
  letter-spacing: -2px;
  cursor:pointer;
  font-size:20px;
  border-radius: 10px;
  text-decoration: none;
  margin-bottom: 10vw;
  margin-top: 10vw;
  width: 40%;
  border-color: black;
  background-color: transparent;
}
.signin-page {
background-image: url(../img/dark31.jpg);
background-color: grey;
/*background-size: cover;
*/}
a{
  text-decoration: none;
}


.signin-page .homepage_fb{
  width: 70%;
}


.scroll{
  height: 100%;
}

.register-button{
  color:yellow;
  border-radius: 15px;
  width: 50%;
  background-color: transparent;
  margin-left: 30vw;

}
.hidden{
  display: none;
}
.settingsicon{
  font-size: 30px;
}
.recom-page{
  background-color: grey;
  background-image: url(../img/dark31.jpg);

  background-repeat: no-repeat;
  background-size: cover;
  z-index:1;
}


.recommendations-header{
  background-color: black;
  
}

.recom-page-title{
  padding-bottom: 0vw;
  margin-bottom: 3vw;
  font-size: 5vw;
  display: inline-block;
  margin-left: 20%;
  position: absolute;
  color:#e7ec53;
  font-family: 'Lobster Two', cursive;
  font-weight: bold;
  letter-spacing: 1px;
}
.monprogramme{
  background-color: black;
  border-radius: 30px;
  width: 90%;
  margin-top: 8vw;
  margin-left: 5%;
}
.monprog {
  color: white;
  margin-left: 40px;
  position: fixed;
  margin-top: -5px;
}



.recom-page .settingsicon{
  font-size: 40px;
  margin:10px;
  display: inline-block;
    color:#e7ec53;

}


.recom-page .plusicon{
  font-size: 38px;
  margin-left: 70%;
  display: inline-block;
  color:#e7ec53;
  text-align: right;
}


.recom-page .title h1{
  display: inline-block;

  margin-left: 4vw;
  font-size: 15px;
 /* font-family: 'Montserrat', sans-serif;*/
}


#tv-set-on-footer{
    z-index:1;
    background-image: url(../img/tv4.gif);
    background-size: cover;
    width: 90%;
    height: 25%;
    margin-left: 5%;
    position: absolute;
    bottom:3%;
}
#current-programme{
  z-index: 2;
  position:absolute;
  background-color: black;
  background-size: cover;
  width:66%;
  height: 66%;
  bottom: 12%;
  top: 22%;
  left:16.5%;
  filter: blur(3px); 
 -webkit-filter: blur(3px);
  opacity: 0.8; 
}
.background-green{
  background-color: #e7ec53;
}
.keyword-input{
  border-radius: 30px;
}
.keyword-container{
  height: 100%;
}
.keyword-element{
  background-color: #fff;
  width: 70%;
  margin-left: 15%;
  font-size: 30px;
  padding: 10px;
  border-radius: 20px;
  margin-bottom: 15px;
}
.keyword-element p{
  margin-bottom: 0px;
  text-align: center;
  font-family: Fredoka, sans-serif;
}

.login-form {
  font-family: 'Montserrat', sans-serif;
  background-color: transparent;

}



.register-view h1{
}

.registeritem{
  color: #e7ec53;
}

.register-view .closebutton{
  display: inline-block;
  font-size: 20px;
  margin-left: 19vw;
}

.button.button-block.button-positive{
  background-color: black;
  color : #e7ec53;
  font-weight: bold;
}

.login-view{
  background-color: black;
  background-image : url(../img/dark31.jpg);

}

.login-header-bar{
  /*background-color: black;*/
  font-color: white;
}


/*.button.homepage_fb.homepage_button{
background-image:url(../img/fconnect.png);
background-size: 100vw;
}*/


.search-page, .account-page{
  background-image : url(../img/dark31.jpg);
  background-size: 300vw;

}

.ion-chevron-down.icon_modal{
  font-size: 7vw;
  padding-top: 1vw;
  padding-left: 2vw;
}


.myname{
  text-align: center;
  font-size: 20px;
}

.keyword-added{
  font-size: 30px;
  font-family: Fredoka, sans-serif;
}
.signin-page .mytitle h1{
  color: white;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.chaine-thumbnail{
  width: 9vw;
  height: 6vw;
  border-radius: 8px;
  position: absolute;
  margin-left: 0px;
}

.description{
  z-index: 4;
  position: absolute;
  font-size: 3.5vw;
  color: black;
  text-align: center;
  bottom : 15%;
  left : 27%;
  font-weight: 600;
}
.skipped {
  -webkit-transform: translateX(-1000px) rotate(-50deg);
  -ms-transform: translateX(-1000px) rotate(-50deg);
  transform: translateX(-1000px) rotate(-50deg);
  opacity:0;
}
.test1{
  background-color: yellow;
}
.animated {
  background-color: black;
  border-radius: 30px;
  width: 90%;
  margin-top: 1.5vw;
  margin-left: 5%;
  height: 15vw;
}
.likeicon{
  background-color: transparent;
  margin-left: 3px;
  padding-top:1px;
  line-height: 13px;
}
.item-like{
  position: absolute;
  right : 0;
  top : 0;
  width: 18%;
  background-color: transparent;
  color: white;
  /*margin-top: -17px;*/
  border-width: 0px;
}

.recom-page .item h4:last-child{
  line-height: 3.5;
}
.titre-programme{
  padding-left: 1%;
  font-weight: 900;
  letter-spacing: 1px;
  font-size: 20px;
  font-family: 'Nunito', sans-serif;
}
.sous-titre{
  color: white;
  font-family: 'Nunito', sans-serif;
  padding-top: 2%;
  padding-left: 12%;
}
.account-page .bar .title {
  color: #e7ec53;;
}
.ion-chevron-down.icon_modal {
    font-size: 7vw;
    padding-top: 1vw;
    padding-left: 2vw;
    color: #e7ec53;;
 }
 .account-page .toggle input + .track{
  background-color: black;
  border-color:#e7ec53;
}
 .account-page .toggle input:checked + .track{
  background-color: #e7ec53;
  border-color:#e7ec53;
}
.account-page .item-divider {
    
    color: white;
    font-weight: 900;
}
.account-page .freq-item{
  color: black;
  background-color: black;
  border-radius: 40px;
  margin: 5px;
  margin-top: 10px;
  text-align: center;
  width: 60%;
  margin-left: 20%;
}
.search-page .bar .title{
  color: #e7ec53;;
}
.recom-page .tab-item .icon{
    display: block;
    margin: 0 auto;
    height: 32px;
    font-size: 27px;
}
.description-page .title{
  color: white;
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
}
.descrip-page{
  background-image : url(../img/dark31.jpg);
  background-size: 300vw;
  color: white;
  padding-left: 2vw;
  padding-right: 2vw;
  font-size: 16px;

}

.descrip-page .lobster{
 font-family: 'Cabin', sans-serif;
  font-size: 20px;
  color: #e7ec53;;
}

.descrip-page .chaine-thumbnail{
  position: relative;
  width: 13vw;
  height: 8vw;
}
.descrip-page .sous-titre{
  margin-left: -3vw;
  position: absolute;
}
.descrip-page .programme-image{
  width: 90%;
  margin-left: 5%;
  margin-top: 10%;
  
}

