
.signin-page .homepage_logo{
	width: 80px;
	margin: 0 auto;
  display: block;
  margin-bottom: 20px;
}
.signin-page .homepage_button{
  
  margin: 0 auto;
  display:block;
  text-align:center;
  color: #1cf890;
  font-family: 'Montserrat', sans-serif;
  font-weight:bold;
  letter-spacing: -2px;
  cursor:pointer;
  font-size:20px;
  border-radius: 10px;
  text-decoration: none;
  margin-bottom: 10vw;
  margin-top: 10vw;
  width: 40%;
  border-color: black;
  background-color: transparent;
}

a{
  text-decoration: none;
}

.signin-page .homepage_fb{
  width: 70%;
}

.registerbutton{
  color:yellow;
  border-radius: 15px;
  width: 70%;
}

.settingsicon{
  font-size: 30px;
}

.myname{
  text-align: center;
  font-size: 20px;
}

.signin-page .mytitle h1{
  color: white;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}
.signin-page {
background-image: url(../img/blurre.jpg);
background-size: cover;

}